.vscode/**
.vscode-test/**
.gradle/**
.github/**
.gitignore
src/**
scripts/**
out/test/**
node_modules/**
build/**
build.gradle.kts
eslint.config.mjs
package-lock.json
tsconfig.json
*.map
**/*.ts
*.vsix
